{% extends 'base.html.twig' %}

{% block title %}
	Brands add
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center underlined">Ajouter une marque</h1>
		<div class="text-center mt-3"> Utiliser le formulaire ci-dessous pour ajouter une marque. </div>
        {{form_start(addForm)}}
            <div class='row mt-5'>
                <div class='col-md-6'>
                    {{form_row(addForm.name)}}
                    {{form_row(addForm.logo)}}
                    {{form_row(addForm.creationDate)}}
                </div>
                <div class='col-md-6'>
                    {{form_row(addForm.nationality)}}
                    {{form_row(addForm.slogan)}}
                    {{form_row(addForm.website)}}
                </div>
                <div class="mt-3">
                    {{form_row(addForm.submit)}}
                </div>
            </div>
        {{form_end(addForm)}}
	</div>
{% endblock %}
