{% extends 'base.html.twig' %}

{% block title %}
	Products edit
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center underlined">Modifier le produit - {{product.name}}</h1>
		<div class="text-center mt-3"> Utiliser le formulaire ci-dessous pour modifier le produit {{product.name}}. </div>
        {{form_start(editForm)}}
            <div class='row mt-5'>
                <div class='col-md-6'>
                    {{form_row(editForm.name)}}
                    {{form_row(editForm.creationDate)}}
                    {{form_row(editForm.price)}}
                </div>
                <div class='col-md-6'>
                    {{form_row(editForm.description)}}
                    {{form_row(editForm.brand)}}
                </div>
                <div class="mt-3">
                    {{form_row(editForm.submit)}}
                </div>
            </div>
        {{form_end(editForm)}}
	</div>
{% endblock %}
