{% extends 'base.html.twig' %}

{% block title %}
	Product view
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center underlined">Détail du produit -
			{{product.name}}</h1>
		<div class="text-center mt-3">
			Voici les informations du produit:
			{{product.name}}.
		</div>
		<br/>
		<div class="d-flex justify-content-center">
			<div class="card card-width">
				<div class="card-body">
					<h5 class="card-title">{{product.name}}</h5>
					<p class="card-text">
						Date de création:
						<strong>{{product.creationDate | date("d/m/Y")}}</strong>
						<br/>
						Description:
						<strong>{{product.description}}</strong>
						<br/>
						Prix:
						<strong>{{product.price | number_format(2,'.',',')}}€</strong>
						<br/>
                        Marque:
                        <strong><a href="{{path('brand_view', {'brand':product.brand.id})}}">{{product.brand.name}}</a>
                        <div class="text-center">
                            <a href="{{ path('brand_edit', {'brand': product.brand.id} ) }}" class="btn btn-warning">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="{{ path('brand_delete', {'brand': product.brand.id})}}" class="btn btn-danger">
                                <i class='fas fa-trash'></i>
                            </a>
                        </div>
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}